body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 255, 242);
}

.navbar {
    background-color: white;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.logo {
    font-size: 29px;
    font-weight: 700;
}

.main-text {
    margin: 100px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.auth {
    display: flex;
    gap: 20px;
    margin: 100px;
}

.active {
    display: flex;
    gap: 40px;
}

.hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 150px;
    margin-top: 200px;
}

.hero-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0; 
    font-size: 1vw;
    color: white;
}

button {
    border: none;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.btn {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    background-color: white;
    font-size: 16px;
    width: max-content;
}

.text1 {
    position: relative;
    font-size: 38px;
    line-height: 50px;
}

.nature::after {
    position: absolute;
    content: url(images/nature.png);
    top: 125px;
    right: 350px;
}

.text2 {
    font-size: 48px;
    font-weight: 800;
}

.info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    text-wrap: wrap;
}

.info1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    text-wrap: wrap;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.column {
    max-width: 65%;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.wwtext {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    text-align: right;
}

.teamspirit {
    max-width: 65%;
}

.column2 {
    max-width: 35%;
    display: flex;
    flex-direction: column;
}

.hero-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 100%;
    height: 100vh;
    background: url(images/moutainsfone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text3 {
    color: #F5F5F5;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

.colortext {
    color: #FFCA28;
}

.textto5 {
    display: flex;
    color: #F5F5F5;
    gap: 40px;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    position: relative;
    font-weight: 700;
    font-size: 24px;
}

.pl1, .pl2, .pl3, .pl4 {
    display: flex;
    justify-content: center;
}

.pl1::before, .pl2::before, .pl3::before, .pl4::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.pl1::before {
    top: 45px;
}

.pl2::before {
    top: 135px;
}

.pl3::before {
    top: 220px;
}

.pl4::before {
    top: 310px;
}

.textafter5 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
}

.nadokrch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.knopka {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: end;
}

.btn2 {
    display: flex;
    width: max-content;
    background-color: #F5F5F5;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
}

.hero-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    height: 100vh;
    background: url(images/krasivytuman.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text4 {
    color: #F5F5F5;
    font-weight: 800;
    font-size: 36px;
    line-height: 30px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    gap: 150px;
}

.btn3 {
    display: flex;
    width: max-content;
    background-color: #F5F5F5;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
}

.hero-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    height: 100%;
}

.container4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    gap: 150px;
}

.yaystal {
    display: flex;
    width: 70%;
    gap: 60px;
}

.main-text2 {
    font-weight: 800;
    font-size: 42px;
}

.voda {
    font-weight: 700;
    font-size: 24px;
    color: #4FC3F7;
}

.btn4 {
    display: flex;
    width: max-content;
    background-color: #4FC3F7;
    color: #F5F5F5;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
}

.text5 {
    display: flex;
    flex-direction: column;
}

.zaparilsya {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 60px;
}

.text6 {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 40%;
}

.btn5 {
    display: flex;
    width: max-content;
    background-color: #5D4037;
    color: #F5F5F5;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
}

.musor {
    font-weight: 700;
    font-size: 24px;
    color: #5D4037;
}

.main-text3 {
    font-weight: 800;
    font-size: 42px;
} 

.derevo {
    font-weight: 700;
    font-size: 24px;
    color: #2E7D32;
}

.btn6 {
    display: flex;
    width: max-content;
    background-color: #2E7D32;
    color: #F5F5F5;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
}

.heroman {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.main-text4 h1 {
    color: #232423;
    font-weight: 800;
    font-size: 48px;
}

.main-text4 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main-text4 p {
    font-weight: 400;
    font-size: 26px;
}

.pochta {
    color: #4FC3F7; 
}

.company1 {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #262626;
    border-radius: 35px;
    height: 40px;
    width: 100%;
}

.comp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.company2 {
    display: flex;
    gap: 20px;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    border-top: 2px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    gap: 150px;
}

.lastdance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}

.minimenu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.miniinfo {
    display: flex;
    gap: 170px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: small;
}

.links a {
    color: #262626;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact img {
    max-width: 50px;
    max-height: 50px;
}

hr {
    height: 1px;
    background-color: black;
    width: 100%;
}

.priloj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 35px;
}

.soseti {
    display: flex;
    gap: 40px;
}

.lasttext {
    display: flex;
    width: 50%;
    color: #6C6C6C;
}

.lasttext span {
    color: #0094C7;
    text-decoration: underline;
}
